@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  color: #fff;
  background-color: #3A5F56;
  border-radius: 6px;
  padding: 10px 18px;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.header__box {
  display: flex;
  align-items: center;
}
.header__menu {
  display: flex;
}
.header__link {
  color: #3A5F56;
  font-size: 16px;
}
.header__link:hover {
  color: #0e1614;
}
.header__item {
  margin-right: 30px;
}
.header__cart {
  display: flex;
  gap: 8px;
}
.header__cart::before {
  content: "";
  background: url(../img/cart.svg);
  display: block;
  width: 17px;
  height: 17px;
}
.header__cart::after {
  content: "0";
  color: #3A5F56;
  background-color: #fff;
  padding: 0 6px;
  border-radius: 50%;
}

.main {
  background: url(../img/bg_main.png) no-repeat center center/cover;
  padding: 100px 0;
}
.main__wrap {
  display: flex;
  gap: 64px;
  align-items: center;
}
.main__title {
  color: #3A5F56;
  font-size: 48px;
  margin-bottom: 15px;
}
.main__text {
  color: #3A5F56;
  font-size: 16px;
  margin-bottom: 27px;
}

.services {
  padding: 100px 0;
}
.services__title {
  color: #3A5F56;
  font-size: 32px;
  margin-bottom: 11px;
  text-align: center;
}
.services__text {
  color: #292C32;
  font-size: 16px;
  max-width: 590px;
  margin: 0 auto;
  margin-bottom: 17px;
}
.services__text_center {
  text-align: center;
}
.services__row {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.services__card {
  max-width: 378px;
  border-radius: 16px;
  background-color: #F4F3F0;
  padding: 30px;
}
.services__icon {
  width: 48px;
  height: 48px;
  margin-bottom: 9px;
}
.services__subtitle {
  color: #3A5F56;
  font-size: 24px;
  margin-bottom: 6px;
}
.services__read {
  color: #3A5F56;
  font-size: 17px;
  align-items: center;
  gap: 5px;
}
.services__read::after {
  content: "";
  background: url(../img/Path.svg) no-repeat center center/cover;
}
.store {
  padding: 100px 0;
  background-color: #F4F3F0;
}
.store__icon {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 15px;
}
.store__title {
  color: #DB343B;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  margin-bottom: 11px;
}
.store__text {
  color: #3A5F56;
  font-size: 16px;
  line-height: 22px;
  max-width: 590px;
  margin: 0 auto;
  margin-bottom: 17px;
}
.store__text_center {
  text-align: center;
}
.store__row {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}
.store__card {
  max-width: 380px;
  background-color: #fff;
  border-radius: 16px;
}
.store__text-block {
  padding: 30px;
}
.store__card-title {
  color: #3A5F56;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 11px;
}
.store__link {
  display: flex;
  justify-content: center;
  color: #3A5F56;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.rrr{
  width: 20px;
  height: 10px;
  top: 7px;
  left: 101px;
}
.store__link::after {
  content: "";
  background-image: url(../img/Arrow-Icon.svg);
  display: block;
  width: 20px;
  height: 10px;
}